<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @meditation.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meditation.description %>
</p>

<p>
  <strong>File:</strong>
  <%= image_tag(@meditation.file_url, :width => 600) if @meditation.file.present? %>
</p>

<%= link_to 'Edit', edit_meditation_path(@meditation) %> |
<%= link_to 'Back', meditations_path %>
